body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 22px;
    margin: 0;
    background-color: #FFFFDD;
}
h1 {
    color: black;
    font-size: 33px;
    margin: 10px 0 10px 0;
    text-align: center;
}
h2 {
    color: black;
    font-size: 30px;
    margin: 5px 0 5px 0;
    text-align: left;
}
h3 {
    color: black;
    text-align: left;
    font-size: 24px;
    margin: 0;
}
h4, h5 {
    color: darkblue;
    margin: 0;
    padding: 20px 0 0 0;
    text-align: left;
}
h6 {
    float: right;
    font-size: 20px;
    margin: 10px;
    padding: 0;
    text-align: right;
}
img {
      display: block;
      margin: 0 auto;
    }
table {
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}
table tr {
    border-top: 1px solid #000000;
    margin: 0;
}
table th:empty {
    visibility: hidden;
}
table tr th { font-weight: 700; }
table tr td,table tr th {
    border: 1px solid #CCCCCC;
    margin: 0;
    padding: 2px 5px;
}
table tr:nth-child(2n) { background-color:#CCFFCC; }
table tr td:first-child, table tr th:first-child {
    margin-top: 0;
    white-space: nowrap;
    width: 1%;
}
table tr td:last-child, table tr th:last-child {
    margin-bottom: 0;
    white-space: normal;
    width: 90%;
}
table td {
    white-space: nowrap;
    width: 1%;
}
pre code, table, table tr { padding: 0; }
blockquote {
    background: #EEEEFF;
    border-left: 10px solid #6495ED;
    font-style: italic;
    margin: 1.5em 10px;
    padding: .5em 10px;
}
blockquote p { display:inline; }
hr {
    background:#000000;
    border: none;
    clear: both;
    float: none;
    height: 3px;
    margin: 20px 0;
    width: 100%;
}
code, tt {
    background-color:#CCCCFF;
    font-family: "DejaVu Sans Mono";
    font-size: 22px;
    margin: 0 2px;
    padding: 0 5px;
    white-space: nowrap;
}
pre code {
    background: #CCCCFF;
    border: none;
    font-family: "DejaVu Sans Mono";
    font-size: 22px;
    margin: 0;
    white-space: pre;
}
.highlight pre, pre {
    background-color:#CCCCFF;
    font-family: "DejaVu Sans Mono";
    font-size: 18px;
    overflow: auto;
    padding: 6px 10px;
}
li {
    margin-left: 50px;
}

