:root{
  scrollbar-color: green lightgreen !important;
  scrollbar-width: 50px !important;
}

* {
  scrollbar-width: 50px !important;
}

html,body{
 scrollbar-color: green lightgreen !important;
 scrollbar-width: 50px !important;
}

