/* set default namespace to XUL */
@namespace html url("http://www.w3.org/1999/xhtml");

.calendar-event-box-container[categories] {
    background-position: top left;
    background-repeat: no-repeat;
    margin: 0;
}

calendar-category-box[categories]{
    display: none;
}

/* Adapting background color following category */
.calendar-event-box-container[categories="anniversary"] {
    background-color: black;
    color: white;
}
.calendar-event-box-container[categories="birthday"] {
    background-color: #996633;
    color: white;
}
.calendar-event-box-container[categories="health"] {
    background-color: #FF0000;
    color: white;
}
.calendar-event-box-container[categories="personal"] {
    background-color: #00FF00;
    color: black;
}
calendar-month-day-box-item[categories^="personal"] .calendar-color-box {
  background-color: var(--category-personal-color) !important;
  color: white !important;
}
.calendar-event-box-container[categories="suppliers"] {
    background-color: #0000FF;
    color: white;
}
.calendar-event-box-container[categories="vacation"] {
    background-color: black;
    color: white;
}

treechildren::-moz-tree-row {
    font-size: 18px !important;
    font-family: Arial;
    min-height: 25px !important;
}

/* height of thread pane */
#threadTree treechildren::-moz-tree-row{
    font-size: 18px;
    min-height: 25px !important;
}

html|div#unifiedToolbar {
  height: 16px !important;
}

#toolbar-menubar {
  order: -1 !important;
}
