/*  Styles for Web developer tools */
@-moz-document url-prefix(chrome://devtools/content/) {
    * { font-family: "Droid Sans Mono",monospace !important; }
    * { font-size: 16px !important; }
}

html,body{
 scrollbar-color: green lightgreen !important;
 scrollbar-width: 50px !important;
}

.CodeMirror {
    font-family:    "Droid Sans Mono", monospace !important;
    font-size:      16pt !important;
}

.devtools-monospace {
    font-family: "Droid Sans Mono",monospace !important;
    font-size: 16px !important;
}

/* Use Normal top and bottom padding for Compact */
#PlacesToolbarItems .bookmark-item {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

#TabsToolbar { height: 30px !important; }

#PersonalToolbar {height: 25px !important; }

/*** Tighten up drop-down/context/popup menu spacing (8 Sep 2021) ***/

menupopup:not(.in-menulist) > menuitem,
menupopup:not(.in-menulist) > menu {
  padding-block: 2px !important; /* reduce to 3px, 2px, 1px or 0px as needed */
  min-height: unset !important; /* v92.0 - for padding below 4px */
}

:root {
  --arrowpanel-menuitem-padding: 2px 4px !important;
}
